<div class="container-fluid bg-light text-black rounded">
   <h1 class= "display-4 text-black">New Report</h1>
   <p> Report </p>
   <br>
   <%= render 'updateform', report: @report %>
   <br><br>
   <%= link_to 'Back', reports_path, class: "btn btn-secondary" %>
   <br><br>
</div>
<br><br>

